apiVersion: v1
kind: PersistentVolume
metadata:
  name: aws-efs-csi-pv-provisioner-root
spec:
  capacity:
    storage: 1Mi
  volumeMode: Filesystem
  accessModes:
  - ReadWriteMany
  mountOptions:
  - tls
  - iam
  persistentVolumeReclaimPolicy: Retain
  storageClassName: efs-sc
  csi:
    driver: efs.csi.aws.com
    volumeHandle: fs-12345678:/ # change FS ID here
